*{
    margin:0;}


    @font-face {
        font-family: IndieFlower-Regular;
        src: url(fontes/IndieFlower-Regular.ttf)
        
      }

    @font-face {
        font-family: JollyLodger-Regular;
        src: url(fontes/JollyLodger-Regular.ttf);
    }

    @font-face {
        font-family:Griffy-Regular;
        src: url(fontes/Griffy-Regular.ttf);
    }

    @font-face {
        font-family:Homenaje-Regular;
        src: url(fontes/Homenaje-Regular.ttf);
    }

    @font-face {
        font-family: Montserrat-Medium;
        src: url(fontes/Montserrat-Medium.ttf);
    }


    /*Header*/

    .topo{

    background: linear-gradient(rgb(184, 178, 178), #d3cfcf);
    width: 100%;
    height: 220px;
    opacity: 0.7;
    position: relative;
    z-index:2;
    
    
    
}


.logo{

    width: 39px;
    float: left;
    margin-top: 20px;
    margin-left: 15px ;
  
    

    
    }


    .logo_text{

        font-family:JollyLodger-Regular;
        float: left;
        margin-left:20px;
        margin-top:22px;
        font-size: 35px;
        user-select:none;
        
    }
    

.menu{

    list-style: none;
    margin-left: 350px;

    
}


.menu li{

    padding: 20px;
    display: inline-block;
    font-family: IndieFlower-Regular;
    color: black;
    margin-top: 120px ;
    }



.menu li:hover {

    font-size: 19px;
    

}

  /*Main*/

.carousel-container {

    width: 100%;
    height: 590px;
    margin-top:0;
    position: relative;
       
}




.conteudo-cardapio-cards{

    width: 100%;
    height: 400px;
    margin-top: 3px;
    
}


.tela_fundo{

    margin-top: -40px;
    width: 100%;
    height: 760px;
    position: relative;
    z-index:1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}


.carousel-img img{

    margin-top: -40px;
    width: 100%;
    height: 630px;
    position: relative;
    z-index:1;
    object-fit: cover;
    position: absolute;

    
   
}






.meio{

    background: #d3cfcf;
    width: 1135px;
    height: 600px;
    margin-top: 15px;
    margin-left: 110px;
    margin-right: 110px;
    position: absolute;
    border-radius:20px;
    opacity: 0.7;
    z-index:2;
    display: block;
    padding-top: 50px;


}



.container-cardapio{

    background-image: linear-gradient(#d3cfcf, rgba(248, 245, 245, 0.822));
    width: 1135px;
    height: 600px;
    margin-top: 15px;
    margin-left: 110px;
    margin-right: 110px;
    position: absolute;
    border-radius:20px;
    opacity: 0.7;
    z-index:2;
    display: flex;
    
    


}


.container-cardapio-lanches{

    background: linear-gradient(#d3cfcf, rgba(187, 178, 178, 0.822));
    width: 1135px;
    height: 600px;
    margin-top: 15px;
    margin-left: 110px;
    margin-right: 110px;
    position: absolute;
    border-radius:20px;
    opacity: 0.7;
    z-index:2;
    display: flex;

    


}


.cardapio-titulo {

    z-index: 3;
    position: absolute;
    padding-left: 170px;
    padding-top: 50px;
    font-family:Griffy-Regular;
    color: black;
    font-size: 26px;
    user-select: none;
    

}


.titulo {

        
    padding-left: 50px;
    font-family:Griffy-Regular;
    color: black;
    font-size: 26px;
    user-select: none;
    margin-bottom: 50px;
    
    


}


.titulo-localizacao {

    padding-left: 50px;
    font-family:Griffy-Regular;
    color: black;
    font-size: 26px;
    user-select: none;
    margin-bottom: 20px;



}




.texto-cardapio-parte-1 {

    padding-top:100px;
    font-family: IndieFlower-Regular;
    color: #2e2b2b;
    font-size: 18px;
    font-weight: 600;  
    z-index: 3;     
    padding-left: 70px;
    

    

}

.cardapio-button {

width: 100px;
height: 30px;
background-color:#db0c39;
color: white;
border-radius: 30px;
text-transform: uppercase;
margin-top: 15px;
cursor: pointer;


}


.cardapio-sobremesas-button {

width: 100px;
height: 30px;
background-color:#db0c39;
color: white;
border: 2px solid white;
border-radius: 30px;
text-transform: uppercase;
margin-top: 10px;
cursor: pointer;

}

.cardapio-lanches-button {

width: 100px;
height: 30px;
background-color:#db0c39;
color: white;
border: 2px solid white;
border-radius: 30px;
text-transform: uppercase;
margin-top: 10px;
cursor: pointer;

}

.cardapio-bebidas-button {

width: 100px;
height: 30px;
background-color:#db0c39;
color: white;
border: 2px solid white;
border-radius: 30px;
text-transform: uppercase;
margin-top: 10px;
cursor: pointer;

}

.cardapio-pizzas-button {

    width: 100px;
    height: 30px;
    background-color:#db0c39;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    text-transform: uppercase;
    margin-top: 50px;
    cursor: pointer;

    
    }



.texto_cardapio::selection {

    background:  white;
}


.texto_cardapio::-moz-selection {

    background:  white;

}


.texto {

    font-family: IndieFlower-Regular;
    color: #2e2b2b;
    padding-left: 50px;
    font-size: 17px;
    font-weight: 600;   
    z-index: 3; 
    user-select: none;        

}


.texto-quem-somos, .texto-contato {

    font-family: IndieFlower-Regular;
    color: #2e2b2b;
    padding-left: 50px;
    font-size: 17px;
    font-weight: 600;   
    z-index: 3; 
    user-select: none;  
    padding-bottom: 30px;



}


.img_hamburguer1{

    border-radius: 10px;
    float:left;
    margin-left: 50px;
    margin-right: 30px;
    border-radius: 10px;
    border: solid 2px #db0c39;
}


#img_hamburguer3 {

    width: 500px;
    margin-left: 50px;
    margin-right: 30px;
    border-radius: 10px;
    float: left;
    border: solid 2px #db0c39;

   



}

    /*Cards cardapio*/




    .cards-div {

        margin-left: 50px;

    }

    .cards-lanches{

        background: #db0c39;
        width: 200px;
        height: 350px;
        margin-top: 110px;
        margin-left: 82px;
        margin-right: 110px;
        position: absolute;
        border-radius: 10px;
        z-index:2;
        display: block;
        border: solid 2px white;
        font-family: Montserrat-Medium;
        text-transform: uppercase;
        color: white;
        cursor: pointer;
        user-select:none;

       
    
    
    }


    .cards-bebidas{

        background: #db0c39;
        width: 200px;
        height: 350px;
        margin-top: 110px;
        margin-left: 338px;
        margin-right: 110px;
        position: absolute;
        border-radius: 10px;
        z-index:2;
        display: block;
        border: solid 2px white;
        font-family: Montserrat-Medium;
        text-transform: uppercase;
        color: white;
        cursor: pointer;
        user-select: none;

       
    
    
    }


    .cards-sobremesas{

        background: #db0c39;
        width: 200px;
        height: 350px;
        margin-top: 110px;
        margin-left: 590px;
        margin-right: 110px;
        position: absolute;
        border-radius: 10px;
        z-index:2;
        display: block;
        border: solid 2px white;
        font-family: Montserrat-Medium;
        text-transform: uppercase;
        color: white;
        cursor: pointer;
        user-select: none;

       
    
    
    }

    .cards-pizzas{

        background: #db0c39;
        width: 200px;
        height: 350px;
        margin-top: 110px;
        margin-left: 845px;
        margin-right: 110px;
        position: absolute;
        border-radius: 10px;
        z-index:2;
        display: block;
        border: solid 2px white;
        font-family: Montserrat-Medium;
        text-transform: uppercase;
        color: white;
        cursor: pointer;
        user-select: none;

       
    
    
    }

    .card-texto-lanches{

        text-align: center;
        margin-top: 20px;
    }


    .card-texto-bebidas{

        text-align: center;
        margin-top: 20px;
    }


    .card-texto-sobremesas{

        text-align: center;
        margin-top: 20px;
    }

    .card-texto-pizzas{

        text-align: center;
        margin-top: 20px;
    }

    .card-texto-lanches-js {

        text-align: center;
        margin-top: 140px;
        font-size: 15px;

    }

    .card-texto-bebidas-js {

        text-align: center;
        margin-top: 140px;
        font-size: 15px;

    }

    .card-texto-sobremesas-js {

        text-align: center;
        margin-top: 140px;
        font-size: 15px;

    }

    .card-texto-pizzas-js {

        text-align: center;
        margin-top: 140px;
        font-size: 15px;
    }


    .imagem-card {

        margin-top: 100px;
        margin-left: 23%;
    
    }






    /*Formulários*/

    
    #formulario-texto-cadastro{

        padding-top:20px;
        font-family: Homenaje-Regular;
        color: #2e2b2b;
        padding-left: 50px;
        font-size: 15px;   
        

    }


    .formulario-texto{

        padding-top:20px;
        font-family: Homenaje-Regular;
        color: #2e2b2b;
        padding-left: 50px;
        font-size: 21px;
        font-weight: bold;   
        z-index: 3;  
          

    }



   

    

    .nome-input{

       margin-left: 60px;

    }



    .sobrenome-input{

        margin-left: 35px;


    }

    .email-input{

        margin-left: 58px;


    }

    
    .confirma-email-input{

        margin-left: 10px;


    }


    .recuperar-login-label {

        padding-top:20px;
        font-family: Homenaje-Regular;
        color: #2e2b2b;
        padding-left: 50px;
        font-size: 21px;
        font-weight: bold;   
        z-index: 3;  
    }

    .senha-input-cadastro{

        margin-left: 62px;


    }




    .confirma-senha-input{

        margin-left: 12px;


    }

    

    label {

        margin-right: 10px;
    }

    


    input{

        border-radius: 15px;
        width: 200px;
        height: 25px;
        background-color: rgb(219, 122, 167);
        padding-left: 10px;
        
        
    }



    input::placeholder {

        color: rgb(83, 67, 67);
        font-family: IndieFlower-Regular;
        padding-left: 5px;
    }



    .button-form {

        font-family: Homenaje-Regular;
        text-align: center;
        font-weight: bold;
        width: 80px;
        height: 30px;
        background-color: #9c9393;
        margin-left: 115px;
        cursor:pointer;

    }

    .button-form-tela-recupera-senha {

        font-family: Homenaje-Regular;
        text-align: center;
        font-weight: bold;
        width: 80px;
        height: 30px;
        background-color: #9c9393;
        margin-left: 220px;
        cursor:pointer;

    }

    .button-form:hover {

        background: #575050 ;
        transition: 1s;
        
    }


    /*Google Maps*/

    .mapa {

        padding-left: 42px;

        
    }

    iframe{

        border-radius: 10px;
        
    }


    /*Esqueceu a Senha e Criar Conta*/


    .esqueceu_senha{

        font-family:Homenaje-Regular;
        margin-left: 80px;
        font-size: 17px;   
       
        
    }

    .esqueceu_senha a {

        color: currentColor;
        text-decoration: none;

    }


    .criar_conta{

        font-family:Homenaje-Regular;
        margin-left: 135px;
        font-size: 17px;
        margin-top: 20px;
        
        
       
        
    }

    .criar_conta a {

        color: currentColor;
        text-decoration: none;

    }

    /*Footer*/

.menu_rodape{

 
    text-align:center; 
    margin: 0 auto;
    padding-left: 0;

}


    .rodape{

        background-color: #b8b4b4;
        width: 100%;
        height: 350px;
        opacity: 0.7;
        position: relative;
        z-index:2;
    }




    .linha1_rodape{

        width: 100%;
        height: 13px;
        background-color: yellow;
    }


    .linha2_rodape{

        width: 100%;
        height: 7px;
        background-color: rgb(216, 6, 41)
    }


    .copyright {

        font-family: tahoma;
        font-size: 11px;
        margin-left: 120px;
        color: #2c2a2a;
        user-select: none;
        margin-top: 170px;
    }

    .burguer-rodape {

       width: 65px;
       margin-top: 40px;
       margin-bottom: 10px;
       margin-left: 80px;
       margin-right: 20px;
       
       
       
    }

    
    .social-media {

        width: 98px;
        margin-top: 30px;
        display: inline-block;  
        
    }

    .social-media:hover {

        width: 100px;
    }




    /* ---------- Estilos dinâmicos ---------- */
  
  input.error {
    border: solid 2px #f11010;
    background-color: rgb(245, 149, 149);
    color: #662020;
  }
  
  input.correct {
    background-color: rgb(146, 219, 143);
    border: solid 2px #206620;
    color: #206620;
  }
  
 
  .helper-text-senha, .helper-text-login {
    display: none;
    font-size: .7rem;
    font-family: tahoma;
    color: rgb(236, 26, 26);
    margin-left: 65px;
    margin-top: 5px;
    
  }

  .visible {
    display: block;
  }



 







      /*

    @media screen and (max-width: 480px) {

        .topo {

            width: 100%;
            height: 400px;
            background: linear-gradient(rgb(124, 117, 117), #d3cfcf, gray);
        }


        .logo_text{

            margin-top: 100px;
            font-size: 40px;
            margin-left: 15px;
            
           
        
            
            }

            .logo {

                margin-left: 17%;
                margin-top: 100px;
                width: 40px;
                
            }


            .menu{

                list-style: none;
    
                margin-left: 1%;
                margin-top: 150px;
                font-size: 13px;
                
                
            
            }
            
            
            .menu li{
            
                
                float:left;
                margin: 5px;
                font-family: IndieFlower-Regular;
                color: black;
                }


    }

    .rodape {

        width: 100%;
        height: 400px;
        background: linear-gradient(rgb(124, 117, 117), #d3cfcf, gray);
    }


    .social-media {

        width: 60px;
        margin-top: 80px;
        display: inline-block;  
    }


    .burguer-rodape {

        width: 65px;
        margin-top: 60px;
        margin-bottom: 10px;
        margin-left: 5%;
        margin-right: 10px;
        
        
        
     }


     .copyright {

        font-family: tahoma;
        font-size: 11px;
        margin-left: 5%;
        color: #2c2a2a;
        user-select: none;
        margin-top: 200px;
    }


    .conteudo{

        width: 100%;
        height: 1848px;
        margin-top: 3px;
        
    }


    .tela_fundo{

        margin-top: -40px;
        width: 100%;
        height: 940px;
        mask-repeat: repeat;
        position: relative;
        z-index:1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
    } 



    



    

   
 
    











